
<!-- ejs - motor (engine) de renderização (criação da página) de templates -->
<!-- Esta página é um template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Minha Página</h1>
    </div>
    <div>
        <!-- action define página para onde irá enviar a resposta -->
        <form action="/ola_resposta" method="post">
            <label for="nome">Nome</label>
            <input type="" id="nome" name="nome">
            <button>Enviar</button>
        </form>
    </div>
</body>
</html>