<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Soma dos números</h1>
    </div>
    <div>
        <p>Primeiro Número: <%= numero1 %>
        </p>
        <p>Segundo Número: <%= numero2 %>
        </p>
        <p>Terceiro Número: <%= numero3 %>
        </p>
    </div>

</body>

</html>