<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Olá Form</div>
    <!-- a ação chama para a página /ola -->
    <form action="/ola" method="post">
        <label for="nome">Nome</label>
        <input type="" id="nome1" name="nome1" placeholder="nome1">
        <input type="" id="nome2" name="nome2" placeholder="nome2">
        <input type="" id="nome3" name="nome3" placeholder="nome3">
        <button>Enviar</button>
    </form>
    
</body>
</html>